.index {
  padding: 100px 0px;
}
.subscribeForm {
  padding: 25px 0px;
}

.post {
  padding: 50px 0px 0px 0px;
}

.card {
  border:0px;
}


.sidebar {
  padding-right: 50px;
  li {
    text-align: right;
  }
}

.footer {
  background-color: #f6f6f6;
  padding: 100px 0px;
  text-align: center;
  color: grey;
}
